doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        //- bootstrap
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')

        //- jquery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js' integrity='sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==' crossorigin='anonymous' referrerpolicy='no-referrer')

        //- Include jQuery from a CDN
        script(src='https://code.jquery.com/jquery-3.7.0.min.js', integrity='sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==', crossorigin='anonymous', referrerpolicy='no-referrer')

        //- Include the datepicker library from a CDN
        link(href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', rel='stylesheet')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
        
        //- custom css
        link(rel='stylesheet', href='/css/font.css')
        link(rel='stylesheet', href='/css/modal.css')
        link(rel='stylesheet', href='/css/navigation.css')
        link(rel='stylesheet', href='/css/table.css')

        //- title
        title Online Reservation

    //-body
    body

        //- main content
        .content
            //- page title
            .row.mx-5
                h2.text Book Now
        
            //- multistep form section
            section.mt-4
                .container
                    //- form
                    form.card(method="POST" action="/reservation/reserve")
                        //- card header
                        .card-header.text-dark
                            nav.nav.nav-pills.nav-fill
                                a.nav-link.tab-pills(href='#') Stay Details
                                a.nav-link.tab-pills(href='#') Guest Details
                                a.nav-link.tab-pills(href='#') Payment
                                a.nav-link.tab-pills(href='#') Finish
                        //- card body
                        .card-body
                            //- Stay Details tab
                            .tab.d-none
                                //- room type
                                .mb-3
                                    label.form-label.fw-bold(for='roomtype') Room Types
                                    input#roomtype.form-control(type='text', name='roomtype', readonly, value=roomType.roomtype)
                                //- room number
                                .mb-5
                                    label.form-label.fw-bold(for='roomid') Room Number
                                    select.form-select(id='roomid', name='roomid')
                                        each r in rooms
                                            option(value=r.roomid)= r.roomnum
                                .row
                                    //- check-in date
                                    .mb-3.col-md-6
                                        label.form-label.fw-bold(for='checkindate') Check-In Date
                                        input#checkindate.form-control(type='date' name='checkindate' onchange='updateCheckoutMinDate()' required)
                                    //- check-out date
                                    .mb-3.col-md-6
                                        label.form-label.fw-bold(for='checkoutdate') Check-Out Date
                                        input#checkoutdate.form-control(type='date' name='checkoutdate' required)
                                //- number of days
                                .mb-3
                                    label.form-label.fw-bold(for='numofdays') Number of Days
                                    input#numofdays.form-control(type='number' name='numofdays' placeholder='' readonly required)
                                .row
                                    //- number of adults
                                    .mb-3.col-md-6
                                        label.form-label.fw-bold(for='adultno') Number of Adults
                                        input#adultno.form-control(type='number' name='adultno' placeholder='' min='1' max=roomType.capacity value=1 required)
                                    //- number of children
                                    .mb-5.col-md-6
                                        label.form-label.fw-bold(for='childno') Number of Children
                                        input#childno.form-control(type='number' name='childno' placeholder='' min='0' max=roomType.capacity-1 value = 0 required)
                                
                            //- Guest Details tab
                            .tab.d-none
                                //- last Name
                                .mb-3
                                    label.form-label.fw-bold(for='fullname') Full Name
                                    input#fullname.form-control(type='text' name='fullname' placeholder="" required)
                                //- address
                                .mb-3
                                    label.form-label.fw-bold(for='address') Home Address
                                    input#address.form-control(type='text' name='address' placeholder="" required)
                                //- email
                                .mb-3
                                    label.form-label.fw-bold(for='email') Email
                                    input#email.form-control(type='email' name='email' placeholder="" required)
                                //- contact no
                                .mb-3
                                    label.form-label.fw-bold(for='contactno') Contact Number
                                    input#contactno.form-control(type='text' name='contactno' placeholder="" required)

                            //- Payment tab
                            .tab.d-none
                                //- promo code
                                .mb-3
                                    label.form-label.fw-bold(for='promocode') Promo Code (optional)
                                    input#promocode.form-control(type='text' name='promocode' placeholder='')
                                .row
                                    input(type='hidden' name='description' value='Room Accommodation')
                                    //- price
                                    .mb-3.col-md-6
                                        label.form-label.fw-bold(for='price') Price
                                        input#price.form-control(type='number' name='price' placeholder='' readonly)
                                    //- qty
                                    .mb-3.col-md-6
                                        label.form-label.fw-bold(for='qty') Number of Days
                                        input#qty.form-control(type='number' name='qty' placeholder='' readonly)
                                //- amount
                                .mb-3
                                    label.form-label.fw-bold(for='amount') Amount
                                    input#amount.form-control(type='number' name='amount' placeholder='' readonly)

                            script.
                                // set the minimum date for checkin and checkout date
                                function updateCheckoutMinDate() {
                                    // Calculate the minimum date for check-in (current date + 1 day)
                                    const today = new Date();
                                    today.setDate(today.getDate() + 1);
                                    const checkinDateInput = document.getElementById('checkindate');
                                    checkinDateInput.min = today.toISOString().split('T')[0];

                                    // Calculate the minimum date for check-out (check-in date + 1 day)
                                    const checkinDate = new Date(checkinDateInput.value);
                                    const checkoutDateInput = document.getElementById('checkoutdate');
                                    const checkoutMinDate = new Date(checkinDate.getTime() + 24 * 60 * 60 * 1000);
                                    checkoutDateInput.min = checkoutMinDate.toISOString().split('T')[0];
                                }

                                // set the minimum date for checkin and checkout date
                                function updateCheckinMinDate() {
                                    // Calculate the minimum date for check-in (current date + 1 day)
                                    const today = new Date();
                                    today.setDate(today.getDate() + 1);
                                    const checkinDateInput = document.getElementById('checkindate');
                                    checkinDateInput.min = today.toISOString().split('T')[0];
                                }

                                 // Call the function when the page loads
                                window.addEventListener('load', function() {
                                    updateCheckinMinDate();
                                });

                                //- calculateNumDays
                                function calculateNumDays() {
                                    const checkInDate = new Date(checkInDateInput.value)
                                    const checkOutDate = new Date(checkOutDateInput.value)
                                    const difference = checkOutDate - checkInDate
                                    const numDays = Math.floor(difference / (1000 * 60 * 60 * 24))

                                    numOfDaysInput.value = numDays
                                    qtyInput.value = numDays
                                }

                                //- calculateNumDays is called
                                checkInDateInput.addEventListener('change', calculateNumDays)
                                checkOutDateInput.addEventListener('change', calculateNumDays)

                            //- Finish tab
                            .tab.d-none
                                p All Set! Click submit to register this guest account.
                                input.btn.btn-primary(type="submit" value="Submit") 
                        .card-footer.text-end
                            .d-flex
                                button#back_button.btn.btn-link(type='button' onclick='back()') Back
                                button#next_button.btn.btn-primary.ms-auto(type='button' onclick='next()') Next


    //-Table
    script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script(src='/js/table.js')
    //-Bootstrap Js
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    //-FontAwesome
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    //-Customize JS
    script(src='/js/modal.js') 
    script(src='/js/nav-active.js') 
    script(src='/js/room_nav.js') 
    script(src='/js/multistepform.js') 

    

               