head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet' href='css/room.css')
  title Services
// Navigation Bar
body 
include ../partial/nav.pug 


section#service_page.service_page
  #carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
    .carousel-indicators
      button.active(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1' aria-label='Slide 2')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='2' aria-label='Slide 3')
    .carousel-inner.c_inner.c_inner-head
      .carousel-item.active
        img.d-block.w-100(src='img/Food.jpg' alt='Dining')
        .carousel-caption
          h5 Dining 
          p
            | Whet your appetite with artistic culinary creations from our talented chefs. Our in-house restaurants are sure to leave you wanting more.
      .carousel-item
        img.d-block.w-100(src='img/pool.jpeg' alt='...')
        .carousel-caption
          h5 Amenities
          p
            | Our first-rate amenities are designed to elevate your experiences and ensure that you are able to create beautiful memories.
      .carousel-item
        img.d-block.w-100(src='img/EventHall.jpg' alt='...')
        .carousel-caption
          h5 Events
          p
            | From fairytale weddings to elegant corporate galas and everything else in between, Relax Hotel is the ultimate backdrop for making cherished memories.


    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next

<br>
    section#dining
      .container.mt-5
         .row
           .col-md-12
             .section-header.text-center.pb-5
              h2.titletext
                | Experience 
                span D
                | ining At Relax
              p
                | Savor the culinary delights crafted by our master chefs at our diverse range of restaurants. Whether you crave the bold flavors of international cuisine, the subtlety of local specialties, or the cozy ambiance of our café, our dining venues are designed to tantalize your taste buds. From gourmet dishes to casual bites, each culinary creation is a celebration of flavor and finesse.    

      .container.mt-5
          .row
            .col-md-12   
              .section-header.text-left.pb-5
                h3.titletext
                  span C
                  |asa 
                  span C
                  |usina
                p
                  |Casa Cusina showcases delightful contemporary flavors from around the Philippines and the rest of the world, all expertly prepared by our internationally trained chefs.
                h4.text 
                  p Operating Hours: 6:00 am to 10:00 pm  
                  .row
                    img.img-fluid(src="img/Restaurant.jpg", alt="Dining")
                
          .row 
            .col-4.col-md-4
              img.img-fluid(src="img/food1.jpg", alt="Food 1", style='height: 300px;')
            .col-4.col-md-4
              img.img-fluid(src="img/food2.jpg", alt="Food 2", style='height: 300px;')
            .col-4.col-md-4
              img.img-fluid(src="img/food3.jpg", alt="Food 3", style='height: 300px;')      
  
<br>
      .container.mt-5
          .row
            .col-md-12
              .section-header.text-left.pb-5
                h2.titletext
                  span B
                  |ake and 
                  span B
                  |rew
                p
                  text Indulge your senses in a symphony of rich aromas and flavors at Bake and Brew, our hotel's enchanting coffee and pastry shop. From the heavenly scent of freshly baked pastries to the robust allure of artisanal coffee, savor a delightful culinary experience that captures the essence of indulgence and warmth.
                h4.text 
                  p Operating Hours: 6:00 am to 10:00 pm  
                  .row
                    img.img-fluid(src="img/shop.jpg", alt="Coffee")
          .row 
            .col-4.col-md-4
              img.img-fluid(src="img/cake.jpg", alt="Cake", style='height: 300px;')
            .col-4.col-md-4
              img.img-fluid(src="img/coffee.jpg", alt="Coffee", style='height: 300px;')
            .col-4.col-md-4
              img.img-fluid(src="img/pancake.jpeg", alt="Pancake", style='height: 300px;')        

<br>
    hr
    section#amenities
      .container.mt-5
         .row
           .col-md-12
             .section-header.text-center.pb-5
              h2.titletext
                | Every 
                span A
                | menities You Need To Relax
              p
                | Our first-rate amenities are designed to elevate your experiences and ensure that you are able to create beautiful memories.
      .container.mt-5
          .row
            .col-md-5.mb-4
              img.img-fluid(src="img/opool.jpg", alt="Out Door Pool")

            .col-md-7.mb-4
              .section-header.text-left.pb-5
                h2.titletext
                  span O
                  |ut Door Pool
                p 
                  text Escape from the stress of the city and enjoy a dip in our outdoor pool. 
                p 
                  text The pool area also boasts a poolside bar for a perfect afternoon of lounging 
                p 
                  text around with your favorite snacks and ice-cold drinks.
                h3.subtext
                  text OPERATING SCHEDULE:
                p 
                  text Open Daily | 8:00am to 10:00pm

          .row
            .col-md-5.mb-4
              img.img-fluid(src="img/Gym2.jpg", alt="Fitness Gym")

            .col-md-7.mb-4
              .section-header.text-left.pb-5
                h2.titletext
                  span F
                  |itness Gym
                p 
                  text Stay on top of your fitness goals while in Tagaytay. Our fitness gym has 
                p 
                  text all of the essential equipment to ensure you are able to maximize your workout.
                h3.subtext
                  text OPERATING SCHEDULE:
                p 
                  text Open Daily | 8:00am to 10:00pm

          .row
            .col-md-5.mb-4
              img.img-fluid(src="img/spa.jpg", alt="Spa")

            .col-md-7.mb-4
              .section-header.text-left.pb-5
                h2.titletext
                  span I
                  |n-Room Spa
                p 
                  text Immerse yourself in soul-soothing treatments that rejuvenate both mind 
                p 
                  text The pool area also boasts a poolside bar for a perfect afternoon of lounging
                p 
                  text around with your favorite snacks and ice-cold drinks.
                h3.subtext
                  text OPERATING SCHEDULE:
                p 
                  text Open Daily | 8:00am to 10:00pm

<br>
    hr
    section#event.mb-3
      .container.mt-5
         .row
           .col-md-12
             .section-header.text-center.pb-5
              h2.titletext
                | Celebrate 
                span E
                | vents At Relax
              p
                | From grandiose weddings to intimate celebrations, our function rooms are designed to add to the magic of your big day. From weddings and debuts to debuts and 50th anniversaries, Relax Hotel makes sure your event will be something your guests talk about for years to come.
      .container
        .row
          .col-lg-5.col-md-12.col-12
            .about-img
              img.img-fluid(src='img/EventHall.jpg' alt='')
          .col-lg-6.col-md-12.col-12
            .about-text
              .content
                p Enriching Experiences and Activities
                br
              p
                | RELAX, a name synonymous with comfort and sophistication, is your perfect choice for a medium-sized hotel experience that redefines hospitality. Nestled in the heart of Manila,
                | RELAX offers a delightful fusion of modern luxury and timeless elegance, setting the stage for an unforgettable stay.
              p
                | Where Comfort, Convenience, and Class Converge in a single place. In a world where travel is an art form, RELAX is your masterpiece.
                | We invite you to immerse yourself in the RELAX experience, where comfort, convenience, and class converge to create a symphony of memorable moments.
              p
                | Book your next stay with RELAX, and let us continue to redefine your idea of exceptional hospitality. Your journey of discovery and relaxation begins here.
              

include ../partial/contact.pug 
//- Footer
.bg-primary.p-2.text-center
  .container
    p.text-white
      | Copyright &copy; 2023 Relax. All Rights Reserved.
  script(src='js/script.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
  script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
  script(src='js/nav-active.js')  
