section#contact.contact.section-padding
  .container
    .row
      //- 1st Column
      .col-md-4.text-center
        img(src='img/logo-blue.png' alt='Company Logo' width='300')
        address.m-3
          | Company Address
          br
          |                   Street Address
          br
          |                   City, State, Zip Code
          br
      //- 2nd Column
      .col-md-4.text-center
        ul
          li.m-3 Contact Number 1: +1 (123) 456-7890
          li.m-3 Contact Number 2: +1 (987) 654-3210
          li.m-3 Landline: +1 (555) 123-4567
          li.m-3
            | Email: 
            a(href='mailto:info@example.com') info@example.com
      //- 3rd Column
      .col-md-4.text-center
        ul
          li.m-3
            i.fa-brands.fa-facebook.fa-xl(style='color:#2055b1')
          li.m-3
            i.fa-brands.fa-x-twitter.fa-xl(style='color:#2055b1')
          li.m-3
            i.fa-brands.fa-instagram.fa-xl(style='color:#2055b1')
  footer.text-center
    p
      a(href='#') TERMS &amp; CONDITIONS
      |  |
      a(href='#') FAQ
      |  |
      a(href='#') PRIVACY
      |  |
      a(href='#') TERMS OF USE