header
    a.logo(href='/')
        | Aruga
        span .
    .menuTog(onclick='toggleMenu();')
        ul.navigation
            li.nav-item
                a.nav-link(href='/index' onclick='toggleMenu();') Home
            li.nav-item
                a.nav-link(href='/about' onclick='toggleMenu();') About
            li.nav-item
                a.nav-link(href='/rooms' onclick='toggleMenu();') Rooms
            li.nav-item
                a.nav-link(href='/service' onclick='toggleMenu();') Services
            li.nav-item
                a.nav-link(href='/promo' onclick='toggleMenu();') Promo  
            li.nav-item
                a.nav-link(href='/booking' onclick='toggleMenu();') Booking